<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<title layout:title-pattern = "$CONTENT_TITLE - Café Луфт"></title>
<script th:src = "@{/js/bootstrap.bundle.min.js}"></script>
<link rel = "stylesheet" th:href = "@{/css/bootstrap.min.css}">
<style>
	html, body {
		height: 100%;
	}
	
	.row {
		min-height: calc(100vh - 112px);
	}
	
	.list-group-item {
		border-radius: 0;
	}
	
	footer {
		width: 100%;
	}
	
	.table-striped > tbody > tr:nth-of-type(odd) > * {
        --bs-table-bg-type: #e3f2fd;
    }
</style>
</head>
<body>
	<div class="d-flex">
   
    <div th:replace="~{common/fragments/sidebar :: sidebar}"></div>

    
    <div class="flex-grow-1 p-4" layout:fragment="content">
       
    </div>
</div>
</body>
</html>