<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Delete Supplier</title>
</head>
<body>
	<h2>Delete Supplier</h2>
	<form method="post" th:action="@{/supplier/delete}"
		th:object="${supplier}">
		<input type="hidden" th:field="${supplier_id}" />
		<div>
			<div>
				<label>Supplier Id:</label> <input type="text"
					th:field="${supplier.supplier_id}" readonly>
			</div>
			<div>
				<label>Name:</label> <input type="text" th:field="${supplier.name}">
			</div>
			<div>
				<label>Contact Info:</label> <input type="text"
					th:field="${supplier.contact_info}">
			</div>
			<div>
				<label>Created_at</label> <input type="datetime-local"
					th:field="${supplier.created_at}" />
			</div>
			<div>
				<button type="submit">Delete Confirm</button>

				<a th:href="@{/supplier}"> Cancel </a>
			</div>
		</div>
	</form>
</body>
</html>