<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Edit Ingredient Type</title>
</head>
<body>
	<h2>Edit Ingredient Type</h2>
	<form method="post" th:action="@{/ingredientType/edit}"
		th:object="${ingredientType}">
		<div>
			<label>Id</label> <input type="text"
				th:field="${ingredientType.ingredient_type_id}" />
		</div>
		<div>
			<label>Name</label> <input type="text"
				th:field="${ingredientType.name}" />
		</div>
		<div>
			<label>Description</label> <input type="text"
				th:field="${ingredientType.description}" />
		</div>
		<div>
			<label>Unit Id</label> <input type="text"
				th:field="${ingredientType.unit_id}" />
		</div>
		<div>
			<label>Created At</label> <input type="datetime-local"
				th:field="${ingredientType.created_at}" />
		</div>
		<button th:type="submit">Update</button>
	</form>
</body>
</html>