<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate = "~{common/layout}">
<head>
<meta charset="UTF-8">
<title>Types List - Manager</title>
</head>
<div layout:fragment = "content">
	<h2><span th:text = "${dname}"></span> Types List</h2>
	<a th:href = "@{/manager/types/add/{type}(type = ${name})}">Add Type</a>
	<table class = "table table-bordered table-striped">
		<thead>
			<tr>
				<th>No.</th>
				
				<th>Type Name</th>

				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="t,state:${types}" style = "height : 200px">
				<td th:text = "${state.count}"></td>
				
				<td th:if = "${t.audience_type_name != null}" th:text = "${t.audience_type_name}"></td>
				<td th:if = "${t.promo_type_name != null}" th:text = "${t.promo_type_name}"></td>
				<td th:if = "${t.audience_type_id != null}">
					<a th:href = "@{/manager/types/audience/edit/{id}(id = ${t.audience_type_id})}">Edit Type</a>
					<a th:href = "@{/manager/types/audience/delete/{id}(id = ${t.audience_type_id})}" onclick="return confirm('Are you sure you want to delete this?');">Delete Type</a>
				</td>
				<td th:if = "${t.promo_type_id != null}">
					<a th:href = "@{/manager/types/promo/edit/{id}(id = ${t.promo_type_id})}">Edit Type</a>
					<a th:href = "@{/manager/types/promo/delete/{id}(id = ${t.promo_type_id})}" onclick="return confirm('Are you sure you want to delete this?');">Delete Type</a>
				</td>
			</tr>
		</tbody>
	</table>
</div>
</html>