<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Ingredient Type List</title>
</head>
<body>
		<h2>Ingredient Type List</h2>
		<a th:href="@{/ingredientType/add}">Add new ingredient type</a>
		<table class="table">
			<thead>
				<tr>
					<th>No.</th>
					<th>Id</th>
					<th>Name</th>
					<th>Description</th>
					<th>Unit_id</th>
					<th>CreatedAt</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="i,state:${ingredientType}">
					<td th:text="${state.count}"></td>
					<td th:text="${i.ingredient_type_id}"></td>
					<td th:text="${i.name}"></td>
					<td th:text="${i.description}"></td>
					<td th:text="${i.unit_id}"></td>
					<td th:text="${i.created_at}"></td>
					<td>
						<a th:href="@{/ingredientType/edit/{ingredient_type_id}(ingredient_type_id=${i.ingredient_type_id})}">Edit </a> 
						<a th:href="@{/ingredientType/delete/{ingredient_type_id}(ingredient_type_id=${i.ingredient_type_id})}">Delete </a>
					</td>
				</tr>
			</tbody>
		</table>
</body>
</html>